@media (max-width: 950px) {
  #footer-especialidades {
    display: none;
  }
}

@media (max-width: 715px) {
  #footer-estudio {
    display: none;
  }
}

@media (max-width: 593px) {
  #footer-redes {
    margin-bottom: 15px;
    width: 350.02px;
  }
}

.footer-bg {
  background-color: #333;
  border-top: 5px solid #203143;
  height: 300px;
}

#ul-footer-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}

.ul-footer-sub {
  list-style-type: none;
}

ul li h6 {
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

ul li h6::after {
  content: '';
  display: block;
  border-bottom: 1px solid #d4b036;
  width: 65px;
  position: relative;
  bottom: -6px; /* your padding + border-width */
}

.footer-icon {
  margin: 0px 10px 7px 0px;
  height: 5%;
}

.fa-facebook-f,
.fa-instagram,
.fa-linkedin-in {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px;
  border-radius: 50%;
  width: 35px;
  text-align: center;
}

.fa-facebook-f:hover,
.fa-instagram:hover,
.fa-linkedin-in:hover {
  background-color: #d4b036;
}

.ul-redes {
  display: flex;
  justify-content: space-around;
}

.whatsapp {
  position: fixed;
  width: 53px;
  height: 53px;
  bottom: 30px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 3rem;
  z-index: 100;
  box-shadow: 0px 0px 5px #999;
}

.fa-whatsapp {
  font-size: 40px;
  position: relative;
  bottom: 12px;
  right: -1px;
}

.footer-contact li a {
  text-decoration: none;
  color: #fff;
}

.footer-contact li a:hover {
  text-decoration: none;
  color: #d4b036;
}

.fa-map-marker-alt {
  margin-right: 15px;
}
