/* LOGO Y DATOS DE CONTACTO */
/* COLOR DE LA MARCA   rgba(32,49,67,1) #203143 */
/* AZUL MAS OSCURO PARA HOVERS rgba(23, 40, 57, 1)  #102941*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 991px) {
  .form-contacto {
    margin-top: 30px;
  }
}

.paddupdown50 {
  padding: 50px 0px 50px 0px;
}

.hero-bg {
  background-color: #d4b036;
  background-size: 100% 100%;
}

.descripcion {
  background-color: rgba(32, 49, 67, 0.75);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 33px;
}

.hr {
  background-color: white;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.titulo {
  font-family: 'Cantata One', serif;
  font-size: 34px;
}

p {
  text-align: justify;
  font-size: 16px;
}

.form-contacto {
  background-color: /* rgba(32, 49, 67, 0.75) */ rgba(170, 170, 170, 0.75);
  height: 400px;
  border-radius: 15px;
}

.form-contacto h1 {
  margin-top: 8px;
  text-align: center;
  margin-bottom: 25px;
  color: #203143;
  text-transform: uppercase;
}

textarea {
  resize: none;
}
