/* LOGO Y DATOS DE CONTACTO */
/* COLOR DE LA MARCA   rgba(32,49,67,1) #203143 */
/* AZUL MAS OSCURO PARA HOVERS rgba(23, 40, 57, 1)  #102941 */

#valores-title {
  color: #203143;
  text-align: center;
  font-family: 'Cantata One', serif;
}
