/* LOGO Y DATOS DE CONTACTO */
/* COLOR DE LA MARCA   rgba(32,49,67,1) #203143 */
/* AZUL MAS OSCURO PARA HOVERS rgba(23, 40, 57, 1)  #102941 */

#valores-title {
  color: #203143;
  text-align: center;
  font-family: 'Cantata One', serif;
}

.cultura {
  background-color: red; /* #f9f9f9; */
  background-size: 100% 100%;
}

#ul-valores {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#ul-valores li {
  margin: 50px 75px 0px 75px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
